/* regole reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: gray;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-1-4 {
  width: calc(100% - 4);
}
.col-1-6 {
  width: calc(100% - 6);
}

.col-50 {
  width: 50%;
}

.col-100 {
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* / regole reset */

.up {
  display: flex;
  height: calc(100% - 100px);
}

.container-left {
  width: 40px;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* sezione loghi */

.logo {
  margin-top: 4px;
}

.log-small-spotify {
  width: 20px;
}

.log-big-spotify {
  width: 100px;
  display: none;
}

/* / sezione loghi */

/* sezione 3 tasti principali */

.menu-icon {
  cursor: pointer;
}

.menu-icon img {
  width: 20px;
}

.menu-icon span {
  display: none;
  cursor: pointer;
}
/* sistemare */
.menu-icon:hover span {
  color: white;
}

.indicator-home,
.indicator-search,
.indicator-library {
  display: none;
  height: 1rem;
  border-left: 3px solid lime;
}

.taste-top,
.taste-bottom {
  margin-left: 0.5rem;
}

/* / sezione 3 tasti principali */

/* sezione playlist */

.playlist {
  display: none;
}

.container-create-playlist {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 2rem 0;
  cursor: pointer;
}

.add-playlist {
  width: 30px;
  height: 30px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus {
  color: black;
}

.container-create-playlist:hover .add-playlist {
  background-color: white;
}

.container-create-playlist:hover .plus {
  color: black;
}

.container-create-playlist:hover .create-playlist {
  color: white;
}

.name-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.name-playlist:hover {
  color: white;
  cursor: pointer;
}

/* / sezione playlist */

/* sezione user */

.taste-bottom {
  margin-top: 330px;
}

.download,
.user {
  display: flex;
  gap: 0.5rem;
}
.download {
  margin-bottom: 1rem;
}

.icon-download {
  width: 16px;
  margin-left: 3px;
}

.download-text {
  display: none;
  cursor: pointer;
}

.download-text:hover {
  color: white;
}

.separator {
  display: none;
  background-color: gray;
  height: 3px;
  width: 90%;
  margin: 0.5rem 0;
}

.background-user {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: gray;
  overflow: hidden;
}

.icon-user {
  overflow: hidden;
}
.name-user {
  display: none;
  color: white;
}

/* / sezione user */

/* container-right */

.container-right {
  width: calc(100% - 40px);
  background-color: rgb(30, 37, 56);
  color: white;
  overflow: scroll;
}

#upgrade {
  padding: 16px 8px;
  text-align: end;
  background: #222305;
}

.btn-upgrade {
  cursor: pointer;
  width: 300px;
  height: 50px;
  border-radius: 33px;
  background-color: rgb(26, 4, 1);
  border: 1px solid;
  color: white;
  text-align: center;
  margin: 16px 0px;
}

.btn-upgrade-select {
  display: none;
}

.btn-upgrade:hover .btn-upgrade-select {
  display: block;
  cursor: pointer;
  width: 300px;
  height: 60px;
  border-radius: 33px;
  background-color: rgb(26, 4, 1);
  border: 1px solid red;
  color: red;
  text-align: center;
  margin: 16px 0px;
}

#menu-list ul {
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding-top: 24px;
}

.seletor {
  background-color: lime;
  width: 32px;
  height: 2px;
  margin-left: 35px;
}

#music-list .container {
  margin: 0 24px;
}

h1 {
  margin: 16px 0px;
}

.img-music-list {
  width: 220px;
}

/* / container-right */

/* player */

.player {
  background-color: rgb(40, 40, 40);
  height: 100px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 8px;
}

/* player left */

.player-left {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100px;
  gap: 0.5rem;
  flex: 1 1 0;
}

.player-left img {
  width: 30px;
}

.info-song * {
  font-size: 0.9rem;
}

.info-song .name-album {
  color: white;
}

.name-song-singer:hover {
  cursor: pointer;
  color: white;
}

/* / player left */

/* player center */

.player-center {
  width: 33%;
  flex: 2 1 0;
}

.icon-music {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.time-music {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.time-total-song {
  width: 300px;
  height: 5px;
  background-color: gray;
  cursor: pointer;
}

.time-heard-song {
  width: 60px;
  height: 100%;
  background-color: lightgray;
  border-radius: 2px;
  border: 2px solid gray;
  position: relative;
}

.time-heard-song:hover {
  background-color: lime;
  border: 2px solid lime;
}

.time-heard-song:hover .ball-point {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 100%;
}

/* / player center */

/* player right */

.player-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  gap: 0.5rem;
  flex: 1 1 0;
}

.icon-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.music-volume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 24px;
}

.music-max {
  min-width: 100px;
  height: 5px;
  background-color: darkgray;
  cursor: pointer;
}

.music-use {
  width: 30%;
  height: 100%;
  background-color: white;
  border-radius: 2px;
  border: 2px solid white;
  position: relative;
}

.music-use:hover {
  background-color: lime;
  border: 2px solid lime;
}

.music-use:hover .ball-point {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 100%;
}

/* / player right */

/* MEDIA QUERY */

@media screen and (min-width: 639px) {
  /* container-left */

  .container-left {
    width: 200px;
  }

  /* sezione loghi */

  .log-small-spotify {
    display: none;
  }

  .log-big-spotify {
    display: block;
  }
  /* sezione loghi */

  .logo {
    margin-top: 4px;
  }

  /* / sezione loghi */

  /* sezione 3 tasti principali */

  .menu-icon {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 0.5rem;
  }

  .menu-icon img {
    width: 20px;
  }

  .menu-icon span {
    display: inline-block;
  }

  .indicator-home {
    display: inline-block;
  }
  .indicator-search {
    display: none;
  }
  .indicator-library {
    display: none;
  }

  .taste-top,
  .taste-bottom {
    margin-left: 0.5rem;
  }

  .taste-top {
    margin-top: 0.5rem;
  }

  /* / sezione 3 tasti principali */

  /* sezione playlist */

  .playlist {
    display: block;
  }

  .taste-bottom {
    margin-top: 70px;
  }

  .separator,
  .download-text {
    display: inline-block;
  }

  /* / sezione playlist */

  /* sezione user */

  .name-user {
    display: block;
  }

  /* / sezione loghi */

  /* sezione 3 tasti principali */

  .container-right {
    width: calc(100% - 200px);
    overflow: scroll;
  }

  .img-music-list {
    width: 180px;
  }

  /* sezione player */

  /* player-left */
  .player-left .bags .love-song:hover {
    cursor: pointer;
    color: white;
  }
  .player-left .bags .bag:hover {
    cursor: pointer;
    color: white;
  }
  /* /player-left */
}

/* Media Queri minimo 878px */

@media screen and (min-width: 878px) {
  .col-25 {
    width: calc(100% / 4);
  }
}

/* <!-- Height: 100vh; width: 100vw -->
    <div class="wrapper">
      <!-- Altezza calc (100% - 150px)-->
      <div class="up">
        <!-- Larghezza 200px -->
        <div class="left"></div>
        <!-- Larghezza calc (100% - 200px) -->
        <div class="right"></div>
      </div>
      <!-- Altezza 150px -->
      <div class="down"></div>
    </div> */
