/* regole reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  width: 100%;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* / regole reset */

.up {
  display: flex;
  height: calc(100% - 100px);
}

.container-left {
  width: 40px;
  background-color: rgb(0, 0, 0);
}
/* sezione loghi */

.logo {
  margin-top: 4px;
}

.log-small-spotify {
  width: 20px;
  margin-left: 0.5rem;
}

.log-big-spotify {
  width: 100px;
  display: none;
  margin-left: 0.5rem;
}

/* / sezione loghi */

/* sezione 3 tasti principali */

.menu-icon img {
  width: 20px;
}

.menu-icon span {
  display: none;
}

.indicator {
  display: none;
  height: 5px;
  border: 3px solid green;
}

.taste-top,
.taste-bottom {
  margin-left: 0.5rem;
}

.taste-top {
  margin-top: 0.5rem;
}

/* / sezione 3 tasti principali */

/* sezione playlist */

.playlist {
  display: none;
}

/* / sezione playlist */

/* sezione user */

.taste-bottom img {
  width: 20px;
}

.taste-bottom span {
  display: none;
}

.taste-bottom {
  margin-top: 420px;
}

.icon-download {
  margin-bottom: 16px;
  width: 16px;
  margin-left: 3px;
}

.background-user {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: gray;
}

.icon-user {
  margin-left: 2px;
}

/* / sezione user */

.container-right {
  width: calc(100% - 40px);
  background-color: rgb(30, 37, 56);
}

.player {
  background-color: rgb(40, 40, 40);
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player-left {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  width: 100px;
}
.player-left * {
  margin-right: 1rem;
}

.player-left img {
  width: 40px;
}

/* / player left */

/* player center */

.player-center {
  width: 30%;
}

.icon-music {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.time-music {
  display: flex;
  justify-content: center;
  align-items: center;
}

.time-total-song {
  width: 300px;
  height: 5px;
  background-color: gray;
}

.time-heard-song {
  width: 60px;
  height: 5px;
  background-color: lightgray;
}

/* player right */

.player-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}

.music-max {
  width: 300px;
  height: 5px;
  background-color: gray;
}

.music-use {
  width: 60px;
  height: 5px;
  background-color: lightgray;
}

/* MEDIA QUERY */

@media screen and (min-width: 639px) {
  .container-left {
    width: 300px;
  }

  /* sezione loghi */

  .log-small-spotify {
    display: none;
  }

  .log-big-spotify {
    display: block;
  }

  /* / sezione loghi */

  /* sezione 3 tasti principali */

  .container-right {
    width: calc(100% - 300px);
  }
}

/* <!-- Height: 100vh; width: 100vw -->
    <div class="wrapper">
      <!-- Altezza calc (100% - 150px)-->
      <div class="up">
        <!-- Larghezza 200px -->
        <div class="left"></div>
        <!-- Larghezza calc (100% - 200px) -->
        <div class="right"></div>
      </div>
      <!-- Altezza 150px -->
      <div class="down"></div>
    </div> */
